<style>
    li {
        max-width: 14rem;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
</style>

<h1>Burgersss</h1>

<h2>Burgers from da king</h2>
<ol>
    {{#each orderHistory}}
    {{#unless devoured}}
    <li>
        <p>{{burger_name}}</p>
        <button class='nomnom' data-burgId="{{id}}">NOMNOM</button>
    </li>
    {{/unless}}
    {{/each}}
</ol>

<h2>i nomnom'd deez burgs</h2>
<ol>
    {{#each orderHistory}}
    {{#if devoured}}
    <li>{{burger_name}}</li>
    {{/if}}
    {{/each}}
</ol>

<form>
    <input id='peasantOrder' type='text'>
    <button id='submit' type='submit'>SUBMIT</button>
</form>

<script>
    $('#peasantOrder').focus();

    $('.nomnom').on('click', function (nomBurg) {
        let burgerID = $(this).data("burgId".toLowerCase());

        $.ajax("/peasant/devour/" + burgerID, {
            type: "PUT",
        })
            .then(() => {
                location.reload();
            });
    });

    $('#submit').on("click", peasantReq => {
        peasantReq.preventDefault();

        const burgerOrder = $('#peasantOrder').val();
        if (!burgerOrder) {
            alert("type something in the box :|")
            return
        }

        const burgerObject = {
            burger_name: burgerOrder
        };
        $.post("/api/guardRecord", burgerObject, _ => {
            location.reload();
        });
    });
</script>